.large{
    /* width: 120vh; */
}
.customcard{
    margin: 50 auto;
    width:60%;
}


.content {
    text-align: center;
}

.cardslist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.col {
    margin: 0 auto;
}

@media (max-width: 500px) {
    .customcard {
        width: 90%;
    }
}