.nav-wrapper{
    background-color: #F6F6F6;
    justify-content: space-between;
}
 
#logo-container{
    display: flex;
    width: 120px;
    justify-content: left;
    text-align: left;
    align-items: center;
    top:12px;
    left: 50px;
}
@media screen and (max-width: 600px) {
  .btn-flat {
    width: 70px;
  }
  
}